body{
    margin:0px;
    font-size: 20px;
}
span{
    padding: 5px;
    
}
nav{
    display:flex;
    padding: 5px;
}
nav>.logo{
    flex:none;width:100px;
}
nav>.blank{
    flex:auto;
}
nav>.item{
    flex:none;width:250px;
    align-items: flex-end;
}

.welcome{
    background-color: skyblue;
    height:300px;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
}
main>.content{
    width:1200px;
    margin: 25px;
/*    background-color: rgb(230, 196, 64);*/
    margin-left: auto;margin-right: auto;
    text-align: center;
}
.title{
    height: 55px;
    letter-spacing: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
main{
    display: flex;flex-wrap: wrap;
    margin: 5px;
/*    background-color: tomato;*/
}
.box img{
    width:100%;
    height: 20vh;
    object-fit: cover;
}
.box{
    display: inline-block;
    text-align: center;
    vertical-align:top;
    margin: 10px;
    width:270px;
/*  padding:10px;*/
    background-color:skyblue;
}
.icon{
    display: none;
}

@media (max-width:1200px){
    main>.content{width:90%;text-align: center;}
    .box{width:45%;}
}

@media (max-width:600px){
    main>.content{width:90%;text-align: center;}
    .box{width:90%;}
    .icon{display:contents;}
    .item{display: none;}
}